<div class="header">
  <h2>{{title}}</h2>
  <p> The only ancient wonder that still stands today has been standing for nearly 5000 years. </p>
  <p> Built in aroudn 2560 BCE, the  great pyramid serves as a tomb of the pharaoh Khufu. </p>
  <p> It took about 20 years to construct and over 2.3 million stone blocks were used. </p>
  <img src="assets/pyramids.jpg" class="center" height="700" width="1000">
</div>
<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
