<div class="header">
  <h2>{{title}}</h2>
  <p>In Ephesus (now western Turkey), one of the most beautifully constructed temples stood.</p>
  <p>The temple built to worship the Greek Goddess of the hunt, Artemis</p>
  <p> Originally built in 550 BCE, it was unfortunately torn down by Herostratus who sought fame for the destruction.</p>
  <img src="/assets/temple%20of%20artemis.jpg" class="center" height="900" width="1500">
</div>
<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
