<div class="header">
  <h2>{{title}}</h2>
  <p>The Mausoleum of Halicarnassus was designed to house a governor in the Persian Empire.</p>
  <p> The mausoleum stood at 135 feet tall and was intricately carved and designed. </p>
  <p> Unfortunately the mausoleum was destroyed by earthquakes later on. All that remains are some pieces of its foundation. </p>
  <img src="assets/mausoleum.jpg" class="center">
</div>
<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
