
<div class="header">
  <h2>{{title}}</h2>
<p>The model for all future lighthouses, the Pharos of Alexandira shone in the harbor of Alexandira in Egypt. </p>
<p>Standing over 350 feet tall, it had a mirror at the top to reflect sunlight during the day, a fire at night.</p>
<p>Unfortunately the lighthouse was damaged in several earthquakes and no longer stands.</p>
<p>Interested parties can visit the site where the lighthouse once stood and imagine the wonder it once held.</p>
  <img src="../../assets/lighthouse%20of%20alexandria.jpg" class="center">
</div>

<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
