<div class="header">
  <h2>Colossus of Rhodes</h2>
  <p> Once located in an island in the easter Aegean Sea, this huge statue greeted its visitors </p>
  <p> Erected around 290 BCE, the statue was of the Greek god Helios and stood about 110 feet tall. </p>
  <p> Unfortunately an earthquake snapped the statue at the knees and brought it down in 224 BCE. </p>
<img  src="assets/colossus%20of%20rhodes.jpg" class="center">
</div>
<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
