<div>
<ul class="navbar">
  <a routerLink="/alexandria" routerLinkActive="active">The Pharos of Alexandria</a>
  <br>
  <a routerLink="/artemis" routerLinkActive="active">The Temple of Artemis</a>
  <br>
  <a routerLink="/gardens" routerLinkActive="active">The Hanging Gardens of Babylon</a>
  <br>
  <a routerLink="/mausoleum" routerLinkActive="active">The Mausoleum of Halicarnassus</a>
  <br>
  <a routerLink="/pyramids" routerLinkActive="active">The Great Pyramids of Giza</a>
  <br>
  <a routerLink="/rhodes" routerLinkActive="active">The Colossus of Rhodes</a>
  <br>
 <a routerLink="/zeus" routerLinkActive="active">The Statue of Zeus</a>
  <br>
</ul>
</div>
