<div class="header">
  <h2>{{title}}</h2>
  <p>One of the more controversial wonders, based on the fact that there is no hard evidence it even existed, the gardens were considered a marvel of engineering. </p>
  <p>It housed an array of blooming flowers, lucious fruit, exotic folliage and waterfalls. </p>
  <p> The gardens believed to exist in around 600 BCE. </p>
  <img src="assets/hanging_gardens.jpg" class="center">
</div>
<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
