<div class="header">
  <h2>The Statue of Zeus</h2>
  <p> Housed in the Temple of Zeus in Olympia, this statue of the Greek god Zeus stood at about 40 feet. </p>
  <p> It was considered the most stunning earthly representation of the King of Gods. </p>
  <p> Like many of the other wonders, an earthquake also brought down the mighty god in 5th century BCE. </p>
  <img src="assets/statue%20of%20zeus.jpg" class="center" width="900">
</div>
<div class="navbar-fixed-bottom">
  <a routerLink="" routerLinkActive="active">Home</a>
</div>
